@font-face {
    font-family: Minecraft;
    src: url('./assets/Minecraft.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Minecraft;
    color: #fff;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url("./assets/sky.png");
    background-size: cover;
    overflow: hidden;

    animation: bg-move 20s linear infinite;
}

@keyframes bg-move {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -50%;
    }
}

.player {
    width: 4rem;
    height: 4rem;

    position: absolute;
    bottom: -.5%;
    left: 8%;
    background-image: url('./assets/corrida.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 1px solid;
}

.player.jump {
    background-image: url("./assets/jump.gif");
    animation: jump 1.8s infinite;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 240px;
    }

    40% {
        bottom: 240px;
    }

    100% {
        bottom: 0;
    }
}

.player.duck {
    width: 6rem;
    height: 3rem;
}

/*
    ENEMY
*/

.enemy {
    position: absolute;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation: move 4s linear infinite;
    border: 1px solid;
}

.obstacle {
    width: 60px;
    height: 60px;
    bottom: -1%;
    left: 80%;
    background-image: url('./assets/percevejo.gif');
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.obstacle-xs {
    width: 30px;
    height: 30px;
}

.obstacle-s {
    width: 60px;
    height: 60px;
    bottom: -3%;
}

.obstacle-m {
    width: 80px;
    height: 80px;
    bottom: -3%;
}

.obstacle-l {
    width: 100px;
    height: 100px;
    bottom: -4%;
}

.fly {
    width: 2rem;
    height: 2rem;
    background-image: url("./assets/moscasprite.gif");
    border-radius: 100%;
    bottom: 80px;
    left: 60%;

    
    animation: moveFly 4s linear infinite;
}

.fly-top {
    bottom: 80px;
}

.fly-center {
    bottom: 60px;
}

.fly-bottom {
    bottom: 30px;
}

.invisible {
    display: none;
}

@keyframes move {
    0% {
        left: 100%;
    }

    100% {
        left: -100px;
    }
}

@keyframes moveFly {
    0% {
        left: 100%;
    }

    100% {
        left: -200px;
    }
}
/* 
    LEVEL
*/


.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-card {
    font-family: Minecraft;
    font-size: 32px;
    margin: 20px;
}

/* 
    Score
*/

.score-card {
    display: flex;
    flex-direction: column;
    font-family: Minecraft;
    font-size: 32px;
    letter-spacing: 1rem;
    margin: 20px;
}

.score-card span {
    margin-right: 20px;
}

.restart-game {
    visibility: hidden;
    font-family: Minecraft;
    background-color: #ffffffb8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 2;
}

.restart-game.show {
    visibility: visible;
}

.restart-game .content {
    display: flex;
    align-items: center;
}

.restart-game .btn-reset-game {
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('./assets/restart.png');
    background-size: contain;
    margin-left: 15px;
    cursor: pointer;
}

.restart-game .text {
    align-self: end;
    color: #000;
}

.stop.game-container,
.stop .obstacle,
.stop .fly {
    animation-play-state: paused;
}

.stop .player {
    background-image: url('./assets/faint.png');
}