.player {
    width: 5rem;
    height: 5rem;

    position: absolute;
    bottom: -.5%;
    left: 8%;
    background-image: url('../../assets/corrida.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}

.player-supreme {
    display: none;
}

.supreme>.player-supreme {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgb(255, 255, 255);
    opacity: .5;

    animation: colors 2s infinite;
}

@keyframes colors {
    0% {
        position: -100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(233, 129, 13, 0.9514180672268907) 67%, rgba(233, 129, 13, 1) 100%);
    }

    50% {
        position: 50%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 18%, rgba(233, 129, 13, 0.9514180672268907) 55%, rgba(233, 129, 13, 1) 100%);
    }

    100% {
        position: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(233, 129, 13, 0.9514180672268907) 30%, rgba(233, 129, 13, 1) 100%);
    }
}

@media(min-width: 640px) {
    .player {
        width: 15%;
        height: 10%;
        bottom: -1.5%;
    }
}

.player.jump {
    background-image: url("../../assets/jump.gif");
    animation: jump 1.8s infinite;
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 180px;
    }

    40% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@media(min-width: 640px) {
    @keyframes jump {
        0% {
            bottom: 0;
        }

        25% {
            bottom: 500px;
        }

        40% {
            bottom: 500px;
        }

        100% {
            bottom: 0;
        }
    }
}

/*
    ENEMY
*/

.enemy {
    position: absolute;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation: move 4s linear infinite;
    border-radius: 100%;
}

@keyframes move {
    0% {
        left: 100%;
    }

    100% {
        left: -100px;
    }
}

.obstacle {
    width: 3rem;
    height: 3rem;
    bottom: -1%;
    left: 80%;
    background-image: url('../../assets/percevejo.gif');
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.lesm-l,
.lesm-m,
.lesm-s {
    background-image: url("../../assets/larva.gif");
}

.obstacle-s,
.lesm-s {
    width: 3rem;
    height: 3rem;
}

.obstacle-m,
.lesm-m {
    width: 4rem;
    height: 4rem;
    bottom: -2%;
}

.obstacle-l,
.lesm-l {
    width: 4rem;
    height: 5rem;
    bottom: -3%;
}

@media(min-width: 640px) {

    .obstacle-s,
    .lesm-s {
        width: 14%;
        height: 6%;
        bottom: -1.5%;
    }

    .lesm-s {
        bottom: -1%;
    }

    .obstacle-m,
    .lesm-m {
        width: 16%;
        height: 8%;
        bottom: -2.5%;
    }

    .lesm-m {
        bottom: -1%;
    }

    .obstacle-l,
    .lesm-l {
        width: 18%;
        height: 10%;
        bottom: -3%;
    }

    .lesm-l {
        bottom: -2%;
    }
}

.fly {
    width: 2rem;
    height: 2rem;
    background-image: url("../../assets/moscasprite.gif");
    border-radius: 100%;
    bottom: 80px;
    left: 60%;

    animation: moveFly 4s linear infinite;
}

@keyframes moveFly {
    0% {
        left: 100%;
    }

    100% {
        left: -200px;
    }
}

@media(min-width: 640px) {
    .fly {
        width: 8%;
        height: 4%;
        bottom: 240px;
    }

    .fly-top {
        bottom: 240px;
    }
}

.fly-top {
    bottom: 80px;
}

@media(min-width: 640px) {
    .fly-top {
        bottom: 100px;
    }
}

.fly-center {
    bottom: 50px;
}

.fly-bottom {
    bottom: 30px;
}

.invisible {
    display: none;
}

/* 
    LEVEL
*/


.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-card {
    font-family: Minecraft;
    font-size: 1.5rem;
    margin: 20px;
}

/* 
    Score
*/

.score-card {
    display: flex;
    flex-direction: column;
    font-family: Minecraft;
    font-size: 32px;
    letter-spacing: 1rem;
    margin: 20px;
}

.score-card span {
    margin-right: 20px;
}

.restart-game {
    visibility: hidden;
    font-family: Minecraft;
    background-color: #ffffffb8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    z-index: 2;
}

.restart-game.show {
    visibility: visible;
}

.restart-game .content {
    display: flex;
    align-items: center;
}

.restart-game .btn-reset-game {
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../../assets/restart.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    cursor: pointer;
}

.restart-game .text {
    align-self: end;
    color: #000;
}

@media(min-width: 640px) {
    .score-card, .level-card {
        font-size: 6rem;
    }

    .restart-game .btn-reset-game {
        width: 8rem;
        height: 8rem;
    }

    .restart-game .text {
        font-size: 6rem;
    }
}

.options {
    text-align: center;
}

.exit {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.stop.game-container,
.stop .obstacle,
.stop .fly {
    animation-play-state: paused;
}

.stop .player {
    background-image: url('../../assets/faint.png');
}

.influence {
    display: none;

    position: absolute;
    bottom: 80px;
    left: 60%;

    width: 2.5rem;
    height: 2.5rem;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    animation: move 12s linear infinite;
}

.influence.supreme,
.influence.positive,
.influence.negative {
    display: block;
}

.influence.supreme {
    background-image: url("../../assets/sojastandard.gif");
}

.influence.positive {
    background-image: url("../../assets/cifra-verde.gif");
}

.influence.negative {
    background-image: url("../../assets/cifra-vermelha.gif");
}

.influence.bottom {
    bottom: 60px;
}

.influence.middle {
    bottom: 120px;
}

.influence.top {
    bottom: 240px;
}


@media(min-width: 640px) {
    .influence {
        width: 8%;
        height: 4%;
        bottom: 240px;
    }
}


.power {
    display: none;
    position: relative;
    margin: auto;
    top: 30%;
    text-align: center;
    font-size: 2.5rem;
}

.power.active {
    display: block;
}